.list-item-selected {
    background-color: goldenrod;
}

.list-item {
    background-color: antiquewhite;
}

.list-item:hover {
    background-color: gold;
}

.segment-matched {
    font-weight: bold;
}

.segment-unmatched {

}