.list-item-selected {
    background-color: #5D99F3;
    color: white;
}

.list-item {
    background-color: #E5E5E5;
}

.list-item:hover {
    background-color: #5D99F3;
    color: white;
}

.segment-matched {
    font-weight: bold;
}

.segment-unmatched {

}